<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="sourceFolder" value="C:\dev\folder-with-web-configs"/>
    <add key="workingFolder" value="c:\temp\transformed"/>
    <add key="targetFile" value="c:\temp\configs.csv"/>
  </appSettings>
</configuration>